:host {
  display: block;
  padding: 32px;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 32px;
}

.top-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 40px;
}

.top-actions mat-slide-toggle{
  padding: 12px 18px;
  border-radius: 16px;
  background: color-mix(in srgb, var(--mat-sys-primary) 8%, white);
}

section {
  display: flex;
  align-items: center;
}

.example-label {
  font-size: 14px;
  margin: 0 16px 0 8px;
  min-width: 120px;
}

.example-button-row {
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
