:host {
  display: block;
  padding: 32px;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 32px;
}

.top-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 40px;
}

.top-actions mat-slide-toggle{
  padding: 12px 18px;
  border-radius: 16px;
  background: color-mix(in srgb, var(--mat-sys-primary) 8%, white);
}